<div class="w-full py-7 bg-primary">
    <div class="container flex items-center justify-between text-accent">
        <div>LOGO</div>
        <div class="flex justify-end gap-4 items-center">
            <div>About Me</div>
            <div>Motive</div>
            <div>GitHub</div>
        </div>
    </div>
</div>
