---
import PageHero from '@/components/PageHero.astro';
import LayoutMain from '@/layouts/LayoutMain.astro';
---

<LayoutMain title="How to use">
   <PageHero h1="How to use" p="Follow these steps to get started with Astro Componets" />

   <h3 class="mt-8 text-2xl font-bold">Step 1: Extend tailwind config theme</h3>

   <p>
      Most of the components are built using tailwindcss. Most of the components i design to use by simply copy and paste. but, for extend tailwindcss
      theme you need to add the following code to your tailwind.config.js file.
   </p>

   <br />

   <pre
      class="language-javascript mt-4 rounded-md p-4">
    <code class="" set:html={`module.exports = {
        theme: {
          extend: {
            colors: {
              primary: '#FF0000',
              secondary: '#00FF00',
              tertiary: '#0000FF',
            },
          },
        },
      }`} />
</pre>
</LayoutMain>
