---
interface Props {
   h1: string;
   p: string;
}
let { h1, p } = Astro.props;
---

<section class="mb-12 rounded-lg bg-secondary px-5 py-7 text-primary" aria-label="Section with a title and a paragraph of text.">
   <h1 class="text-3xl font-bold">
      {h1}
   </h1>
   <p class="mt-4">{p}</p>
</section>
